<h1>Create a Song</h1>

<%= form_for @song do |f| %>
  <strong><%= f.label :title %></strong>
  <%= f.text_field :title %>
  <br />

  <strong><%= f.label :genre %></strong>
  <%= f.collection_select :genre_id, Genre.all, :id, :name%>
  <br />

  <strong><%= f.label :artist_name %></strong>
  <%= f.text_field :artist_name %>
  <br />
  <%= f.label :notes %>
  <input id= "song_notes_1" name="song[note_text][]" >
  <input id= "song_notes_2" name="song[note_text][]" >
  <br>

    <%= f.submit %>

<% end %>
